<form (ngSubmit)="submitForm()" [formGroup]="personForm">
  <div class="person-form__header">
    <h2 fxFlex="auto">{{ idPerson ? "Editar" : "Adicionar" }} pessoa</h2>
    <button mat-dialog-close mat-icon-button type="button">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <mat-divider class="person-form__divider"></mat-divider>
  <mat-dialog-content class="person-form__content">
    <mat-form-field appearance="fill">
      <mat-label>Nome</mat-label>
      <input formControlName="name" required matInput />
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">Cancelar</button>
    <button
      [disabled]="personForm.invalid"
      color="primary"
      mat-raised-button
      type="submit"
    >
      Salvar
    </button>
  </mat-dialog-actions>
</form>
